<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Accueil {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}" >
    <script src="{% static 'website/js/bootstrap.js' %}"></script>

</head>
<body>
    {% block nav %}
    <nav class="navbar navbar-default navbar-static-top navbar-collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">Pèse Canard</a>
        </div>
        <ul class="nav navbar-nav">
          <!--<li><a href="/index">Accueil</a></li>-->
          <li><a href="/pesee">Pesée</a></li>
          <li><a href="/telechargements">Téléchargements</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block content %}
        <div class="container">
            <h1>Bienvenue !</h1>
            <p>
                Cette application vous permet de peser vos canards automatiquement. <br>
                Pour effectuer une pesée, direction la rubrique <a href="/pesee">Pesée</a>. <br>
                Pour télécharger vos Pesées, il suffit d'aller dans la rubrique <a href="/telechargements">Téléchargements</a>
            </p>
        </div>
    {% endblock %}
</body>
</html>