<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Accueil {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    {% block nav %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">Pèse Canard</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/index">Accueil</a></li>
          <li><a href="/pesee">Pesée</a></li>
          <li><a href="#">Téléchargements</a></li>
          <li><a href="#">A propos </a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}
        
    {% block content %}
    {% endblock %}
</body>
</html>