{% extends "base.html" %}
{% block title %}Téléchargements{% endblock %}
{% block content %}
    <div class="container">
        <h1>Téléchargements</h1>

        <div class="table-responsive">
            <table class="table table-striped ">
            <tr>
                <th scope="col">Pesée</th>
                <th scope="col">Semaine</th>
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Téléchargement</th>
                <th scope="col">Supression</th>
            </tr>

            {% for pesee in pesees %}
                <tr scope="row">
                    <td>{{ pesee.id }}</td>
                    <td>{{ pesee.semaine }}</td>
                    <td>{{ pesee.date_debut }}</td>
                    <td>{{ pesee.date_fin }}</td>
                    <td><a class="glyphicon glyphicon-download btn btn-primary" href="pesee/{{ pesee.id }}/fichier"> </a></td>
                    <td><a class="glyphicon glyphicon-trash btn btn-danger" href="/pesee/{{ pesee.id }}/delete"> </a></td>
                </tr>
            {% endfor %}
        </table>
        </div>

    </div>
{% endblock %}
